@model MapsData.DataService.PaginatedList<MapsData.Models.LocationDataDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <a asp-action="Index">Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LocationNameParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].LocationName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model =>  model[0].LocationId)" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model =>  model[0].LocationId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model =>  model[0].Time)" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model =>  model[0].Time)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model =>  model[0].AtmosphericPressure)" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model =>  model[0].AtmosphericPressure)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model =>  model[0].WindDirection)" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model =>  model[0].WindDirection)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model =>  model[0].WindSpeed)" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model =>  model[0].WindSpeed)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Html.DisplayNameFor(model =>  model[0].Gust)" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model =>  model[0].Gust)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtmosphericPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gust)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"></a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>




<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
  >
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   >
    Next
</a>
