@model IEnumerable<MapsData.Models.LocationData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtmosphericPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gust)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtmosphericPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gust)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
